@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* colores 
#612121
#561C24
#6D2932
#C7B7A3
#E8D8C4

font-family: 'Permanent Marker', cursive;

*/

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  /* background-color: #561C24; */
  background-color: #241010;
background-image: linear-gradient(43deg, #251212 0%, #2d0c14 46%, #3e1013 100%);
}

.main{
  flex-grow: 1;
}


.fuente{
  font-family: 'Permanent Marker', cursive;
}

.fondo{
  background-color: #251212;
}

@media (min-width: 992px) {
  .img-card{
    height: 100%; /* Ajusta la altura al 100% para ocupar el espacio disponible en el contenedor padre */
    display: flex;
    flex-direction: column;
  }
  .img-card .card {
    flex: 1; /* Permite que la tarjeta ocupe todo el espacio disponible en el contenedor hijo */
    height: 100%; /* Ajusta la altura de la tarjeta al 100% para ocupar el espacio disponible en el contenedor hijo */
    margin-bottom: 20px; /* Añade un espacio entre las tarjetas si lo deseas */
  }
}



