/* colores 
#612121
#561C24
#6D2932
#C7B7A3
#E8D8C4 */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  /* background-color: #561C24; */
  background-color: #241010;
background-image: linear-gradient(43deg, #251212 0%, #2d0c14 46%, #3e1013 100%);
}

.main{
  flex-grow: 1;
}

.card-with-hover:hover {
  filter: brightness(90%);
  transition: filter 0.3s ease;
}

