/* colores 
#612121
#561C24
#6D2932
#C7B7A3
#E8D8C4 */

#root {
  max-width: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  /* background-color: #561C24; */
  background-color: #612121;
background-image: linear-gradient(43deg, #612121 0%, #730923 46%, #b50f1a 100%);

}

